<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      layout:decorator="nav/navmain"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="../../static/css/gift.css" th:href="@{/css/gift.css}"/>
    <base id="myBase" href="http://localhost:8080/"/>

    <style type="text/css">

        .h3 {
            font-size: 17px;
        }

        .h4 {
            font-size: 13px;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="magento">
        <div id="category" class="page-1">
            <nav class="toolbar">

                <div class="gift-guide-header">
                    <div class="holiday-2017-collection-header holiday-2017-collection-header-week-8">
                        <img src="../../image/gift/holiday-blob.svg"
                             alt=""/>
                        <div class="header-text">
                            <h2>
                                Exhibit 08 Dec 18–Dec 24
                            </h2>
                            <h1>
                                TO GIFT IS GOOD:<br/>
                                A LITTLE BIT GOES A LONG WAY
                            </h1>
                            <p>
                                There is a human goodness in giving, no matter how small, that is most apparent during
                                the
                                holiday season. In this exhibit, our curators have selected a range of
                                accessible-yet-thoughtful items to feel good about gifting to anyone.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container toolbar-container">
                    <div class="row">
                        <div class="filter-menu-buttons-placeholder">&nbsp;</div>

                        <ul class="mobile-pager">

                            <li><a class="next-page"
                                   href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container" style="position: relative;">
                <div class="product-list-nav">
                </div>
                <div class="product-list-grid">


                    <article class="grid-item product" data-id="244601" data-sku="1046075" data-name="Luminizer X Quad"
                             data-brand="RMS Beauty" data-price="48.00">
                        <div class="image">
                            <a class="image-link"
                               href="#"
                               title="Luminizer X Quad">
                                <img src="../../image/gift/gift1.jpg"
                                     alt="Luminizer X Quad"/>
                            </a>

                            <a class="badge back-in-stock"
                               href="#"></a>

                        </div>
                        <div class="detail">
                            <h3 style="font-size: 17px">
                                <a href="#"
                                   title="Luminizer X Quad">
                                    Luminizer X Quad </a>
                            </h3>
                            <h4 style="font-size: 13px" class="brand-price">
                                RMS Beauty
                                /
                                <span class="price">$48</span>
                            </h4>

                            <a class="quick-view" href="#" title="Luminizer X Quad" data-id="244601"></a>
                        </div>
                    </article>


                    <!--<article class="grid-item product" data-id="255050" data-sku="1047819"-->
                    <!--data-name="Faro Mug Coffee Service Set" data-brand="Kinto" data-price="88.00">-->
                    <!--<div class="image">-->
                    <!--<a class="image-link"-->
                    <!--href="http://needsupply.com/gifts/collections/to-gift-is-good/faro-mug-coffee-service-set.html"-->
                    <!--title="Faro Mug Coffee Service Set">-->
                    <!--<img src="../../image/gift/gift2.jpg"-->
                    <!--alt="Faro Mug Coffee Service Set"/>-->
                    <!--</a>-->


                    <!--<a class="badge exclusive"-->
                    <!--href="#"></a>-->


                    <!--</div>-->
                    <!--<div class="detail">-->
                    <!--<h3>-->
                    <!--<a href="#"-->
                    <!--title="Faro Mug Coffee Service Set">-->
                    <!--Faro Mug Coffee Service Set </a>-->
                    <!--</h3>-->
                    <!--<h4 class="brand-price">-->
                    <!--Kinto-->
                    <!--/-->
                    <!--<span class="price">$88</span>-->
                    <!--</h4>-->

                    <!--<a class="quick-view" href="#" title="Faro Mug Coffee Service Set" data-id="255050"></a>-->
                    <!--</div>-->
                    <!--</article>-->
                    <!--<article class="grid-item product" data-id="256103" data-sku="1047848"-->
                    <!--data-name="2018 Year Task Planner in Copper" data-brand="Appointed" data-price="36.00">-->
                    <!--<div class="image">-->
                    <!--<a class="image-link"-->
                    <!--href="#"-->
                    <!--title="2018 Year Task Planner in Copper">-->
                    <!--<img src="../../image/gift/gift3.jpg"-->
                    <!--alt="2018 Year Task Planner in Copper"/>-->
                    <!--</a>-->
                    <!--<a class="badge exclusive"-->
                    <!--href="#"></a>-->
                    <!--</div>-->
                    <!--<div class="detail">-->
                    <!--<h3>-->
                    <!--<a href="#"-->
                    <!--title="2018 Year Task Planner in Copper">-->
                    <!--2018 Year Task Planner in Copper </a>-->
                    <!--</h3>-->
                    <!--<h4 class="brand-price">-->
                    <!--Appointed-->
                    <!--/-->
                    <!--<span class="price">$36</span>-->
                    <!--</h4>-->

                    <!--<a class="quick-view" href="#" title="2018 Year Task Planner in Copper"-->
                    <!--data-id="256103"></a>-->
                    <!--</div>-->
                    <!--</article>-->
                    <!--<article class="grid-item product" data-id="255469" data-sku="1045427"-->
                    <!--data-name="Northern Lights Socks"-->
                    <!--data-brand="Chup" data-price="35.00">-->
                    <!--<div class="image">-->
                    <!--<a class="image-link"-->
                    <!--href="#"-->
                    <!--title="Northern Lights Socks">-->
                    <!--<img src="../../image/gift/gift4.jpg"-->
                    <!--alt="Northern Lights Socks"/>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="detail">-->
                    <!--<h3>-->
                    <!--<a href="#"-->
                    <!--title="Northern Lights Socks">-->
                    <!--Northern Lights Socks </a>-->
                    <!--</h3>-->
                    <!--<h4 class="brand-price">-->
                    <!--Chup-->
                    <!--/-->
                    <!--<span class="price">$35</span>-->
                    <!--</h4>-->
                    <!--<h4 class="available-sizes">-->
                    <!--M / L </h4>-->

                    <!--<a class="quick-view" href="#" title="Northern Lights Socks" data-id="255469"></a>-->
                    <!--</div>-->
                    <!--</article>-->


                    <div class="toolbar-bottom">
                        <div class="container">
                            <div class="row">

                                <a class="next-page"
                                   href="#">Next</a>
                                <div class="pagination">
                                    <ul>
                                        <li class="page"><a class="active">1</a></li>
                                        <li class="page"><a
                                                href="#">2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back-to-top">
                    <a href="#"></a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>