<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="nav/navmain" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title th:text="|Mazus - ${product.name}|"></title>

    <link rel="stylesheet" href="../../static/css/product.css" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" href="../../static/css/aurora-pack.min.css" th:href="@{/css/aurora-pack.min.css}"/>
    <link rel="stylesheet" href="../../static/css/aurora-theme-base.min.css"
          th:href="@{/css/aurora-theme-base.min.css}"/>
    <link rel="stylesheet" href="../../static/css/urku.css" th:href="@{/css/urku.css}"/>
    <link rel="stylesheet" href="../../static/css/aurora-button.css" th:href="@{/css/aurora-button.css}"/>
    <link rel="icon" type="image/svg" href="../../static/image/urku-ico.svg" th:href="@{/css/urku-ico.svg}"/>
    <base id="myBase" href="http://localhost:8080/"/>
    <style type="text/css">
        h3{
            font-size: 17px;
        }
        h4{
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="magento">
    <div layout:fragment="content">
        <div class="toolbar" style="padding-top: 50px;">
            <div class="categories-container headroom headroom--not-top headroom--unpinned">
                <div class="container">
                    <div id="product-new" data-sku="1047420" data-name="Darkness of My Heart Tote Bag" data-brand="NEED"
                         data-price="35.00">
                        <div id="messages_product_view" class="container left-container">
                        </div>
                        <div class="container product-page-container">
                            <div id="product_addtocart_form">
                                <input name="form_key" type="hidden" value="lAzXczDuenVQxCbh"/>
                                <input type="hidden" name="product" value="253513"/>
                                <input type="hidden" name="related_product" id="related-products-field" value=""/>
                                <input type="hidden" name="qty" id="qty" value="1"/>
                                <div class="product-view">
                                    <div class="product-media">
                                        <ul class="product-thumbs">
                                            <li><a href="#"><img src="../image/hp_nc_02.jpg" alt=""/></a></li>
                                            <li><a href="#"><img src="../image/hp_nc_03.jpg" alt=""/></a></li>
                                            <li><a href="#"><img src="../image/nc_10.jpg" alt=""/></a></li>
                                            <li><a href="#"><img src="../image/hp_nc_05.jpg" alt=""/></a></li>
                                            <li><a href="#"><img src="../image/hp_nc_06.jpg" alt=""/></a></li>
                                        </ul>
                                        <div class="product-image">
                                            <img id="product-image" th:src="${product.img}"
                                                 alt="Darkness of My Heart Tote Bag"/>
                                            <div class="enlarge"><a href="#"></a></div>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="breadcrumbs" data-category="Mens/New Arrivals">
                                            <ul>
                                                <li class="home">
                                                    <a href="#" title="Go to Home Page">Home</a>
                                                    <span>/ </span>
                                                </li>
                                                <li class="category3">
                                                    <a href="#/mens" title="">Mens</a>
                                                    <span>/ </span>
                                                </li>
                                                <li class="category6">
                                                    <a href="#/mens/new" title="">New Arrivals</a>
                                                    <span>/ </span>
                                                </li>
                                                <li class="product">
                                                    <strong>Darkness of My Heart Tote Bag</strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2 class="product-brand"><a href="/mens/brands/need">NEED</a></h2>
                                        <h1 class="product-name" th:value="${product.name}"
                                            th:text="${product.name}"></h1>
                                        <div class="product-price">
                                            <h3><span class="price" th:text="${product.price}"></span></h3>
                                        </div>

                                        <div id="addordercoverbef" class="product-buttons-primary clearfix">
                                            <button title="You need Login"
                                                    class="button btn-cart cart validation-passed"
                                                    style="cursor: not-allowed; opacity: 0.9"> You need Login
                                            </button>
                                        </div>


                                        <div id="addordercover" class="product-buttons-primary clearfix">
                                            <button id="addorder" title="Add to Cart"
                                                    class="button btn-cart cart validation-passed">

                                            </button>
                                        </div>

                                        <div style="text-align: center; font-size: 16px; margin-top: 6em;" id="messages">
                                            <a href="/checkout/cart" id="message-body"></a>
                                        </div>


                                        <input style="display: none" type="text" id="details"
                                               th:value="${product.details}"/>
                                        <input style="display: none" type="text" id="idproduct"
                                               th:value="${product.id}"/>
                                        <div id="nnamecustomer" style="display: none;">
                                            <a style="display: none" type="text" id="namecustomer"></a>
                                        </div>
                                        <input style="display: none" type="text" id="price"
                                               th:value="${product.price}"/>
                                        <div>
                                        </div>

                                        <div class="product-messaging" style="margin-top: -3em">
                                            <a class="product-messaging-details" href="/help/#rates" target="_blank">See
                                                Details</a>
                                            <p><strong>Free Shipping Returns</strong> <br/>Orders Over $100</p>
                                        </div>
                                        <div class="product-buttons-secondary cl    earfix">
                                            <div class="wishlist-wrapper">
                                                <a href="#" class="link-wishlist wishlist">Add to Wishlist</a>
                                            </div>
                                            <div class="product-share">
                                                <strong>Share</strong>
                                                <ul>
                                                    <li><a href="#" target="_blank">Facebook</a></li>
                                                    <li><a href="#" target="_blank">Twitter</a></li>
                                                    <li><a href="#" target="_blank">Pinterest</a></li>
                                                    <li><a href="#" target="_blank">Tumblr</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-additional">
                                            <a class="accordion-label" href="#"
                                               data-target="description">Description</a>
                                            <div style='font-size: 13px; padding-bottom: 2em'
                                                 th:text="${product.details}"></div>

                                            <a class="rates-international" href="/help/#international">View
                                                International Rates</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="product-crosssell">

                                <div id="recommended-default" class="recommended">
                                    <h5>Recommended</h5>
                                    <div class="product">
                                        <a href="/active-botanical-serum.html" title="Active Botanical Serum"><img
                                                src="../image/hp_nc_02.jpg" alt="Active Botanical Serum"/></a>
                                        <h3>
                                            <a href="/active-botanical-serum.html" title="Active Botanical Serum">Active
                                                Botanical Serum</a>
                                        </h3>
                                        <h4>
                                            <a href="/mens/brands/vintners-daughter">Vintner's Daughter</a> / <span
                                                class="price"><span class="price">$185</span></span>
                                        </h4>
                                    </div>
                                    <div class="product">
                                        <a href="/sailor-pant-2.html" title="Sailor Pant"><img
                                                src="../image/hp_nc_03.jpg"
                                                alt="Sailor Pant"/></a>
                                        <h3>
                                            <a href="/sailor-pant-2.html" title="Sailor Pant">Sailor Pant</a>
                                        </h3>
                                        <h4>
                                            <a href="/mens/brands/jesse-kamm">Jesse Kamm</a> / <span class="price"><span
                                                class="price">$395</span></span>
                                        </h4>
                                    </div>
                                    <div class="product">
                                        <a href="/ranger-pant-in-natural" title="Ranger Pant in Natural"><img
                                                src="../image/hp_nc_05.jpg" alt="Ranger Pant in Natural"/></a>
                                        <h3>
                                            <a href="/ranger-pant-in-natural" title="Ranger Pant in Natural">Ranger
                                                Pant in Natural</a>
                                        </h3>
                                        <h4>
                                            <a href="/mens/brands/jesse-kamm">Jesse Kamm</a> / <span class="price"><span
                                                class="price">$395</span></span>
                                        </h4>
                                    </div>
                                    <div class="product">
                                        <a href="/achilles-retro-low-in-white-black-1.html"
                                           title="Achilles Retro Low in White/Black"><img src="../image/hp_nc_06.jpg"/></a>
                                        <h3>
                                            <a href="/achilles-retro-low-in-white-black-1.html"
                                               title="Achilles Retro Low in White/Black">Achilles Retro Low in
                                                White/Black</a>
                                        </h3>
                                        <h4>
                                            <a href="/mens/brands/woman-by-common-projects">Woman by Common Projects</a>
                                            /
                                            <span class="price"><span class="price">$454</span></span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="shipping-promo"></div>
                    </div>
                </div>
            </div>
        </div>

        <th:block layout:fragment="script">
            <script th:src="@{js/jquery.min.js}"></script>
        </th:block>


        <script language="JavaScript" type="text/javascript">
            $(function () {
                var $orders = $('#orders');
                var $messages = $('#messages');

                $('#addorder').on('click', function () {

                    var $nameproduct = $('#details');
                    var $id = $('#idproduct');
                    var $price = $('#price');
                    var $customersname = $('#customersname');


                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "http://localhost:8080/ordered/",
                        "method": "POST",
                        "headers": {
                            "Content-Type": "application/json",
                            "Cache-Control": "no-cache",
                            "Postman-Token": "18c7d8ba-ae1e-cbc8-93ca-b78e2960f08f"
                        },
                        "processData": false,
                        "data": " {  " + " \"nameproduct\":" + JSON.stringify($nameproduct.val()) + ", \"idproduct\":" + JSON.stringify($id.val()) + ", \"price\":" + JSON.stringify($price.val()) + ", \"nameCustomer\":" + JSON.stringify($customersname.val()) + "  }"
                    };
                    $.ajax(settings).done(function (response) {

                        var $userInfoBodys = $messages.find("#message-body");
                        $userInfoBodys.append($("<p>\Order finished, Check your cart\</p>"));
                        $messages.show();

                    });
                });
            });
        </script>
    </div>

</div>
</body>
</html>