<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="nav/navmain" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="../../static/css/styleforcart.css" th:href="@{/css/styleforcart.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="cart-header">
            <h1>Shopping Cart</h1>
            <ul class="checkout-types">
                <li><p class="paypal-logo">
                    <a data-action="checkout-form-submit" id="ec_shortcut_3d85f6c9d066a5820fd5782d364be086" href="#">
                        <img src="../image/paypal-logo-color.svg" alt="Checkout with PayPal"
                             title="Checkout with PayPal"/></a>
                </p>
                </li>
                <li>
                    <p class="paypal-logo">
                        <span class="paypal-or">or</span>
                    </p>
                </li>

                <li>
                    <button style="margin-bottom: 1.5em" type="button" title="Proceed to Checkout"
                            class="button btn-proceed-checkout btn-checkout">
                        <span><span>Proceed to Checkout</span></span>
                    </button>
                </li>
            </ul>
        </div>

        <form action="#" method="post">
            <input name="form_key" type="hidden" value="NvbVLeRliQeJjmlF"/>
            <fieldset>
                <table id="shopping-cart-table" class="data-table cart-table">
                    <thead>
                    <tr class="first last">
                        <th class="image" rowspan="1">Item</th>
                        <th class="product-name" rowspan="1">&nbsp;</th>
                        <th rowspan="1">Edit</th>
                        <th rowspan="1">Quantity</th>
                        <th class="subtotal a-center" colspan="1">Subtotal</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr class="first last">
                        <td colspan="50" class="a-right last">
                            <button type="submit" name="update_cart_action" value="update_qty"
                                    title="Update Shopping Cart"
                                    class="button btn-update"><span><span>Update Shopping Cart</span></span></button>
                        </td>
                    </tr>
                    </tfoot>

                    <tbody id="showCart">

                    <tr class="first last odd">
                        <td class="image">
                            <a href="#" title="Balancing Blocks" class="cart-product-image">
                            <img src="../image/hp_nc_03.jpg" width="100" alt="Balancing Blocks"/></a></td>
                        <td class="product-name">
                            <h2 id="title" class="product-name">
                               <!-- <a href="#">Balancing Blocks</a>-->
                            </h2>
                            <dl class="item-options specs">
                             <dt>Price</dt>
                            </dl>

                            <dl class="item-options">

                                <dt>
								<span id="price" class="cart-price">

									<!--<span class="price">$48.00</span>-->
								</span>
                                </dt>

                            </dl>

                        </td>
                        <td class="cart-remove-item">
                            <a href="#" title="Remove item">Remove from Cart</a>
                        </td>
                        <td>
							<span class="cart-quantity">
								<span class="mobile-label">Quantity: </span>
								<span class="quantity quantity-stepper enabled">
									<input name="cart[13551268][qty]" data-cart-item-id="3032404" value="1" size="4"
                                           title="Qty" class="input-text qty" maxlength="12"/>
									<button data-type="minus"><img src="../image/icon-minus.svg"/></button>
									<button data-type="plus"><img src="../image/icon-plus.svg"/></button>
								</span>
							</span>
                        </td>
                        <td class="subtotal a-right last">
							<span id="Subprice" class="cart-price"><span class="mobile-label">Subtotal: </span>


						</span>
                            <span class="mobile-remove"><a href="#" title="Remove item" class="link-remove">
                            <img src="../image/icon-close-white.svg"/></a></span>
                        </td>
                    </tr>


                    </tbody>


                </table>
            </fieldset>
            <div class="shipping-promo"></div>
        </form>


        <div class="continue-shopping">
            <button type="button" title="Continue Shopping" class="button btn-continue">
                <span style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;"><span>Continue Shopping</span></span>
            </button>
        </div>
    </div>

    <div id="nnamecustomer" style="display: none;">
        <a style="display: none" type="text" id="namecustomer"></a>
    </div>

    <!--  <script src="../js/jquery.min.js"></script>
    <script src="../js/showcart.js"></script>-->

    <th:block layout:fragment="script">
        <script th:src="@{js/jquery.min.js}"></script>
    </th:block>

</div>

</body>
</html>